
.Content {
    color: #000;
    min-height: calc(100vh - 34px);
}

body {
    background-image: url(../img/background2.jpg) ;
    background-attachment: fixed;
}

.newes {
    margin-left: 70px;
    padding-top: 92px;
    /* margin-left: 100px; */
    display: flex;
    flex-wrap: wrap;
}

.cart {
    width: 27.5%;
    height: 392px;
    margin-right: 5%;
    margin-bottom: 7%;
    background-color: #F48AF4;
}


.cartImg{
    position: relative;
    padding-bottom: 79.333%;
    /* height: 214px; */
    width: 100%;
}

.cartImg img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 214px;
    /* min-width: 100%; */
}

.cart p {
    margin: 0;
    margin-top: 5px;
    margin-left: 11px;
    font-weight: 500;
}

.info :nth-child(2){
    margin: 0px 12px;
    margin-top: 7px;

}

#nameGame {
    margin-top: 14px;
    font-weight: 700;
}

.info {
    color: #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    
}

/* форма */
    .cart :nth-child(3) {
        position: absolute;
        margin: 0;
        margin-right: 24px;
        /* margin-left: 270px; */
        /* margin-top: -5px; */
        margin-bottom: 5px;
        /* margin-left: auto;
        margin-top: auto; */
    }

/* кнопка формы */
.cross {
    /* visibility: hidden; */
    width: 25px;
    height: 25px;
    background-color: #ffffff00;
    /* background-image: url("img/games/cart1.jpg"); */
    cursor: pointer;
    border: none;
}

/* картинка кнопки */
.cross :nth-child(1) {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-left: -8px;
}

.cart:hover .cart :nth-child(1) :nth-child(1){
    visibility: visible;
}